@media screen and (max-width: 1359px) {
    .header {
        padding: 17px 2%;
    }

    .header.sticky {
        padding: 15px 2%;
    }

    section {
        padding: 80px 2%;
    }
}

@media screen and (max-width: 1001px) {
    #menu-icon {
        display: block;
    }
    
    .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff1da;
        transition: all 0.42s ease;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list li {
        width: 100%;
        padding-left: 8px;
    }
    
    .nav-list li a {
        display: block;
        padding: 1rem;
        border-left: 2px solid #212832;
    }

    .navbar.active {
        top: 100%;
    }
    
    .home {
        height: 100%;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home-text {
        padding-top: 2.3rem;
    }

    .find-out-more {
        justify-content: center;
    }

    .testimonials {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 335px) {
    .sign-up a {
        display: none;
    }
    
    .home-text h1 {
        font-size: 2.6rem;
    }

    .home-text h3 {
        font-size: 14px;
    }

    .center-text h2 {
        font-size: 36px;
    }

    .center-text h3 {
        font-size: 14px;
    }

    .test-left-side h2 {
        font-size: 36px;
    }

    .test-left-side h4 {
        font-size: 14px;
    }
}