@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
}

/* ===== Header ===== */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    transition: all 0.42s ease;
}

.logo {
    width: 116px;
    max-width: 100%;
    height: auto;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    padding: 10px 22px;
    position: relative;
}

.nav-list li a {
    font-size: 1rem;
    font-weight: 500;
    color: #212832;
}

.nav-list li a::before {
    position: absolute;
    content: '';
    bottom: 7px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #212832;
    border-radius: 10px;
    transition: all 0.42s ease;
}

.nav-list li a:hover::before {
    width: 100%;
}

.sign-up {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sign-up a {
    display: inline-block;
    border: 2px solid #212832;
    padding: 5px 15px;
    border-radius: 5px;
    color: #212832;
    font-size: 1rem;
    font-weight: 500;
}

#menu-icon {
    font-size: 33px;
    color: #212832;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.header.sticky {
    background-color: #fff1da;
    padding: 20px 10%;
    box-shadow: 0 4px 15px rgb(0 0 0 / 8%);
}

/* ===== All sections ===== */
section {
    padding: 100px 10%;
    width: 100%;
}

/* ===== Home section ===== */
.home {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    background: url("../images/Decore.png") no-repeat center / cover;
}

.home-image img {
    width: 520px;
    max-width: 100%;
    height: auto;
}

.home-text h3 {
    color: #d46951;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.home-text h1 {
    color: #181e4b;
    font-size: 4rem;
    font-family: "Volkhov", serif;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.home-text p {
    color: #5e6282;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    margin: 20px 0 25px;
}

.find-out-more {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.2rem;
}

.find-out-more .home-button {
    background-color: #f1a501;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.42s ease;
}  

.find-out-more .home-button:hover {
    transform: translateY(-5px);
}

.find-out-more .home-demo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    color: #5e6282;
}

.find-out-more .home-demo i {
    background-color: #df6951;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin-right: 12px;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    transition: 0.42s ease;
}

.find-out-more .home-demo i:hover {
    background-color: transparent;
    color: #212832;
}

/* ===== Category section ===== */
.center-text {
    text-align: center;
}

.center-text h3 {
    font-size: 18px;
    font-weight: 600;
    color: #5e6282;
    text-transform: uppercase;
}

.center-text h2 {
    font-size: 50px;
    font-family: "Volkhov";
    font-weight: 700;
    color: #14183e;
    text-transform: capitalize;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.category-box {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .1) -4px 9px 25px -6px;
    padding: 60px 40px;
    transition: all 0.42s ease;
}

.category-box img {
    width: 75px;
    max-width: 100%;
    height: auto;
}

.category-box h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #1e1d4c;
    text-transform: capitalize;
    margin: 20px 0 15px;
}

.category-box p {
    font-size: 14px;
    font-weight: 500;
    color: #5e6282;
    line-height: 25px;
}

.category-box:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/* ===== Destinations section ===== */
.destinations-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.destination-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.destination-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.45s ease;
}

.destination-box h6 {
    position: absolute;
    top: 25px;
    left: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.box-city-name {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.box-city-name h5 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.box-city-name p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.destination-box:hover img {
    filter: brightness(50%) hue-rotate(45deg);
    transform: scale(1.1);
    cursor: pointer;
}

/* ===== Testimonials section ===== */
.testimonials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.test-left-side {
    flex: 1;
}

.test-left-side h4 {
    font-size: 17px;
    font-weight: 600;
    color: #5e6282;
    margin-bottom: 5px;
}

.test-left-side h2 {
    font-size: 50px;
    font-family: "Volkhov", serif;
    font-weight: 700;
    color: #14183e;
    text-transform: capitalize;
}

.test-right-side {
    flex: 1;
}

.test-right-side img {
    width: 68px;
    max-width: 100%;
    height: auto;
}

.test-right-side h5 {
    font-size: 1rem;
    font-weight: 600;
    color: #5e6282;
}

.test-right-side h6 {
    font-size: 13px;
    font-weight: 500;
    color: #5e6282;
    margin-bottom: 1rem;
}

.test-right-side p {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: #5e6282;
}